@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans:wght@100;300;500&family=Marck+Script&family=Merriweather:ital,wght@0,400;1,300&family=Noto+Sans+Nag+Mundari:wght@600&family=Noto+Sans+Symbols+2&family=Poppins:ital,wght@1,300&display=swap");

h1 {
  font-family: "Dancing Script", cursive;
}
.main {
  width: 100%;
  background-image: linear-gradient(to right, #a9c0e2, #ecf5ed);
  /* height: 100vh; */
  /* background-color: #44929f; */
}
